@font-face {
  font-family: Moz;
  src: url("../fonts/MozTT-Medium.ttf");
}

body {
  margin: 0px;
}

.header {
  margin-bottom: 14px;
  height:7vh;
  color: white;
  text-align: center;
  font-size:  4.5vmin;
  font-family: Moz;
  border:0px solid black;
}

.header-bg {
  position: absolute;
  z-index: -1;
  margin: 0px;
  height: 8vh;
  border-right: 100vw solid #0087ff;
}

.header div {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

#title-img {
  height: 100%;
}

.title {
  margin-top: 10px;
}

.title-details {
  margin-top: 10px;
  font-size: 3.5vmin;
}

/* include margin and padding in sizing calulations */
* {
  box-sizing: border-box;
}

#content {
  height: 67vh;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.nodecoration {
  text-decoration: none;
  color: black;
}

a:hover {
  color: highlight;
}

/* Settings pop-up */

.settingsPopup {
  color: black;
  position: relative;
  text-align: center;
  font-family: Moz;
  font-size: 1vmin;
  width: 10%;
}

.formPopup {
  display: none;
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 2px solid #999999;
  z-index: 9;
}

.formContainer {
  padding: 20px;
  background-color: #fff;
}

.formContainer input[type=text] {
  width: 100%;
  padding: 15px;
  border: none;
  background: #eee;
}

.formContainer input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}

.formContainer .cancel {
  background-color: #cc0000;
}

.formContainer .btn:hover,
.settings-button:hover {
  opacity: 1;
}

.settings-container {
  display: grid;
  gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 35px;
}

.settings-header {
  grid-column: 1 / span 2;
  margin-top: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.settings-col1 {
  grid-column: 1;
  justify-self: end;
  padding-right: 10px;
}

.settings-col2 {
  grid-column: 2;
  justify-self: start;
}

.settings-label {
  margin-top: 3px;
}

/* index pane css */

.block-title {
  font-size: 1.7vmin;
  font-family: Moz;
  padding-left: 100px;
  padding-right: 100px;
  border: 0px solid blue;
  margin-top: 40px;
}

.table-container {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  gap: 0px;
  font-size: 1.5vmin;
  font-family: Moz;
  border: 0px solid red;
}

#report-closed {
  opacity: 60%;
}

.list-container {
  visibility: collapse;
}

.sublist-title {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #063ce2
}

.sublist-library {
  width: 100%;
  margin: 3px;
  background-color: #eee;
  border: 1px solid lightgray;
}

.sublist-items {
  display: grid;
  grid-template-columns: 15% 10% 10% 45% 20%;
  width: 100%;
}

.listhdr-date  {
  grid-column: 1;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.listhdr-library {
  grid-column: 2;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.listhdr-bugid {
  grid-column: 3;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.listhdr-status {
  grid-column: 4;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.listhdr-assignee {
  grid-column: 5;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.listitem-date {
  grid-column: 1;
}

.listitem-library {
  grid-column: 2;
}

.listitem-bugid {
  grid-column: 3;
}

.listitem-status {
  grid-column: 4;
}

.listitem-assignee {
  grid-column: 5;
}

.errors-container {
  padding-top: 20px;
  padding-left: 2vmin;
  padding-right: 2vmin;
  float: left;
  width: 100%;
  border: 0px solid gray;
  font-family: Moz;
  color: #cc0000;
  display: inline-block;
  font-size: 1.5vmin;
}

.footer {
  padding-left: 2vmin;
  padding-right: 2vmin;
  border: 0px solid gray;
  font-family: Moz;
  color: #a0a0a0;
  display: inline-block;
  font-size: 1.0vmin;
}

.footer a {
  text-decoration: none;
  color: #808080;
}


/* Form controls on pages */
.command-button-container {
  padding-left: 2vmin;
  padding-right: 2vmin;
  width: 100%;
  border: 0px solid green;
}

.command-button:disabled {
  cursor: default;
}

.stats {
  padding-top: 3px;
  float: left;
  font-size: 1.75vmin;
  font-family: Moz;
}

#team-select, #team-option {
  padding: 5px;
  font-family: Moz;
}

.command-button {
  padding: 5px;
  margin-left: 10px;
  font-family: Moz;
  float: right;
}

.command-button-hidden {
  padding: 5px;
  margin-left: 10px;
  font-family: Moz;
  float: right;
  visibility: collapse;
}

.button-separator {
  display: inline-block;
  float: right;
  padding: 10px;
}

.settings-button-container {
  padding: 0px;
  margin: 0px;
  border: 0px solid blue;
  float: right;
}

.alert-icon {
  position: absolute;
  visibility: hidden;
  margin-left: 65px;
  margin-top: -2px;
}

.status-text {
  visibility: hidden;
  margin-top: 2px;
  padding: 3px 15px 3px 15px;
  border-radius: 2px;
  float: right;
  font-size: 1.75vmin;
  font-family: Moz;
  border: 1px solid #eeeeee;
  background-image: linear-gradient(to right, rgb(186 232 188), rgb(186 232 188));
  background-size: 50%;
  background-repeat: no-repeat;
  color: gray;
}

